body{
	 background-image: url("../images/star-war.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     color:yellow;
	font-family: 'Kanit', sans-serif;
	font-size:20x;
}
header{

	text-align: center;
	font-family: 'Caesar Dressing', cursive;
	font-size: 50px;
}
.container{
	margin-top: 10px;

}
.character-img{
	width:160px;
	height:130px;
}
.character-box{
	
	padding:0px 10px 0px 10px;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	color:green;
	
	display:inline-block;
}

.character-box:hover{
	opacity:0.8;
}

#characters{
	height:200px;
}

#attacker, #defender, #restart, #attack, #defender{
	display: inline-block;
}

#btnAttack,#btnRestart{
	vertical-align: middle;
}

.fighter-arena{
	height:350px;
	text-align: center;
	background: transparent;
	color:red;
	text-align:center;
	font-size: 15px;	

}
